<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHXq0Sd1GJ3099uDshrBMS9IP1ebdlgA0</string>
	<key>GCM_SENDER_ID</key>
	<string>10263662635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-fef1b</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-fef1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10263662635:ios:aee0ac2a90b12a47b61a6e</string>
</dict>
</plist>